# Directories
agents/
scenes/
images/
clinic/
bin/old/
bin/__pycache__/
bin/analysis/old/
.ipynb_checkpoints/

# Files
bin/.Rhistory
bin/.train_MAPnet.py.swo
bin/*.ipynb
*.csv
*.out
*.toml
*.pt
*.tar.gz
